# Default ignored files
/shelf/
.idea/
.vscode/
*.sqlite3
__pycache__/
*.pyc
media
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
