{% extends 'dashboard/socio/base_socio.html' %}
{% load static %}

{% block dashboard_title %}Configuración | Cámara de Comercio de Loja{% endblock dashboard_title %}
{% block page_title %}Configuración{% endblock page_title %}

{% block content %}
<div class="card shadow border-0">
    <div class="card-body text-center p-5">
        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
            <i class="bi bi-gear"></i> {# Icono relevante para Configuración #}
        </div>
        <h2 class="display-4">Página en Construcción</h2>
        <p class="lead">La funcionalidad de **Configuración** estará disponible próximamente.</p>
    </div>
</div>
{% endblock content %}