{% extends 'dashboard/socio/base_socio.html' %}
{% load static %}

{% block title %}Catálogo de Convenios | Cámara de Comercio de Loja{% endblock %}

{% block content %}
    <div class="card shadow border-0">
        <div class="card-body text-center p-5">
            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                <i class="bi bi-collection"></i> {# Icono relevante para Convenios #}
            </div>
            <h2 class="display-4">Página en Construcción</h2>
            <p class="lead">La funcionalidad del **Catálogo de Convenios** estará disponible próximamente.</p>
        </div>
    </div>
{% endblock %}