{% comment %} core/templates/core/_form_corporativo.html {% endcomment %}
<form role="form" id="formCorporativo">

    <div id="step1Corporativo">
        <h5 class="text-primary mb-3">Paso 1 de 2: Datos de la Empresa</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>RUC</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Razón Social</label><input class="form-control" type="text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Nombre Comercial</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Fecha de Constitución</label><input class="form-control" type="date">
                </div>
            </div>
        </div>
        <div class="form-group"><label>Actividad Económica Principal</label><input class="form-control" type="text">
        </div>
        <div class="form-group"><label>Dirección</label><input class="form-control" type="text"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Teléfono</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Correo Electrónico</label><input class="form-control" type="email"></div>
            </div>
        </div>
        <div class="form-group"><label>Página Web (Opcional)</label><input class="form-control" type="text"></div>
        <div class="text-right">
            <button type="button" id="toStep2Corporativo" class="btn btn-primary">Siguiente <i
                    class="fa fa-arrow-right"></i></button>
        </div>
    </div>

    <div id="step2Corporativo" style="display: none;">
        <h5 class="text-primary mb-3">Paso 2 de 2: Contactos y Documentos</h5>

        <h6><small class="text-muted font-weight-bold">Datos del Representante Legal</small></h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Cédula</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Nombres y Apellidos</label><input class="form-control" type="text"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Celular</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Correo Electrónico</label><input class="form-control" type="email"></div>
            </div>
        </div>

        <hr class="my-3">

        <h6><small class="text-muted font-weight-bold">Contacto 1 (Gerente)</small></h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Nombres</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label>Celular</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label>Correo</label><input class="form-control" type="email"></div>
            </div>
        </div>

        <h6><small class="text-muted font-weight-bold">Contacto 2 (Financiero)</small></h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Nombres</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label>Celular</label><input class="form-control" type="text"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label>Correo</label><input class="form-control" type="email"></div>
            </div>
        </div>

        <hr class="my-3">

        <h6><small class="text-muted font-weight-bold">Documentos Adjuntos</small></h6>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"><label>Adjuntar RUC</label>
                    <div class="custom-file"><input type="file" class="custom-file-input"><label
                            class="custom-file-label">Elegir</label></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label>Adjuntar Nombramiento</label>
                    <div class="custom-file"><input type="file" class="custom-file-input"><label
                            class="custom-file-label">Elegir</label></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label>Adjuntar Cédula (Rep. L.)</label>
                    <div class="custom-file"><input type="file" class="custom-file-input"><label
                            class="custom-file-label">Elegir</label></div>
                </div>
            </div>
        </div>

        <div class="custom-control custom-control-alternative custom-checkbox mt-4">
            <input class="custom-control-input" id="customCheckCorporativo" type="checkbox">
            <label class="custom-control-label" for="customCheckCorporativo">
                <span>Acepto los <a href="#">términos y condiciones</a> de afiliación.</span>
            </label>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="button" id="toStep1Corporativo" class="btn btn-outline-primary"><i
                    class="fa fa-arrow-left"></i> Anterior
            </button>
            <button type="submit" class="btn btn-success btn-lg">Completar Afiliación</button>
        </div>
    </div>
</form>