{% comment %} core/templates/core/_form_emprendedor.html {% endcomment %}
<div class="card card-body mt-4">
  <h4 class="mb-4 text-primary">Formulario de Afiliación - Socio Emprendedor</h4>
  <form role="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>RUC / Cédula</label>
          <input class="form-control" placeholder="Ej: 1101234567001" type="text">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Razón Social / Nombres</label>
          <input class="form-control" placeholder="Nombre que consta en el RUC" type="text">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Actividad Económica</label>
      <input class="form-control" placeholder="Ej: Venta de software, consultoría, etc." type="text">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Correo Electrónico</label>
          <input class="form-control" placeholder="su@email.com" type="email">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Teléfono de Contacto</label>
          <input class="form-control" placeholder="0991234567" type="text">
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg mt-4">Enviar Solicitud de Emprendedor</button>
    </div>
  </form>
</div>