{% extends 'dashboard/empleado/base.html' %}
{% load static %}

{% block dashboard_title %}Soporte | Dashboard Empleado{% endblock dashboard_title %}
{% block page_title %}Soporte{% endblock page_title %}

{% block content %}
    <div class="card shadow border-0">
        <div class="card-body text-center p-5">
            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                <i class="bi bi-question-circle"></i>
            </div>
            <h2 class="display-4">Página en Construcción</h2>
            <p class="lead">La funcionalidad de **Soporte** estará disponible próximamente.</p>
        </div>
    </div>
{% endblock content %}